.cartTab {
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  inset: 0 -400px 0 auto;
  z-index: 100;
  display: grid;
  grid-template-rows: 70px 1fr 70px 70px;
  transition: .5s;
}
body.showCart .cartTab {
  inset: 0 0 0 auto;
}
.cartTab h1{
  text-align: center;
  padding: 20px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.cartTab .button{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab .button button{
  background-color: #E8BC0E;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.cartTab .button .closeCart{
  background-color: #eee;
}
.item img{
  width: 100%;
}
.item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  padding: 7px;
}
.listCart .quantity span{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: #555;
  border-radius: 50%;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: #eee;
}
.listCart .item:nth-child(odd){
  background-color: #eee1;
}
.listCart{
  overflow: auto;
}
.listCart::-webkit-scrollbar{
  width: 0;
}
.pay{
  opacity: 0;
  width: 70vw;
  height: 70vh;
  background-color: #f2de6a;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: .3s;
  border: 1px solid rgba(0, 0, 0, 0.35);
}
.pay h1{
  text-align: center;
}
.pay .closePay {
  position: absolute;
  font-size: 1.2em;
  top: -12.5px;
  right: -12.5px;
  border-radius: 50%;
  background-color: rgb(221, 214, 214);
}
body.showPay .pay{
  opacity: 1;
  z-index: 300;
}
.totalPrice {
  /* background-color: #353432; */
  border: none;
  font-weight: 500;
  font-size: 1em;
}
.totalTotalPrice {
  font-size: 1.8em;
}
#tipoPagamento .cartoes {
  width: 40px;
  height: 30px;
  margin: 0px;
}
p#Credito {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em;
}
p#Debito {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em;
}
.metodos {
  display: flex;
  justify-content: center;
}
.escurecer {
  
}