@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  
}
@media screen and (min-width: 992px) {
  .flex {
    flex-wrap: nowrap;
    align-items: center;
  }
  .flex > span#menu {
    order: 1;
  }
  .flex > div#logo {
    order: 2;
  }
  .flex > div#pesquisa {
    order: 3;
    width: auto;
  }
  .flex > img#contato {
    order: 4;
  }
  .flex > span#cart {
    order: 5;
  }
  div#pesquisa {
    margin: 0px;
  }
}
@media screen and (min-width: 1340px) {

}