@charset "UTF-8";
@media screen and (min-width: 1000px) and (max-width: 1192px){
  .cartTab {
    width: 38% !important;
  }
}

@media screen and (min-width: 992px) {
  .flex {
    flex-wrap: nowrap;
    align-items: center;
  }
  .flex > span#menu {
    order: 1;
  }
  .flex > div#logo {
    order: 2;
  }
  .flex > div#pesquisa {
    order: 3;
    width: auto;
  }
  .flex > img#contato {
    order: 4;
  }
  .flex > span#cart {
    order: 5;
  }
  div#pesquisa {
    margin: 0px;
  }
}


@media screen and (min-width: 767px) and (max-width: 926px) {
  #banner{
    width: 90%;
  }

  
  #img{
    background-image: url(imagens/Inserir\ um\ pouquinho\ de\ texto\ \(2\).png);
    background-size: 100% 100%;
    height: 400px;
    
  }

  #img2{
   
    height: 400px;
    
  }

  #img3{
    height: 400px;
    background-position: center center;
  }

  #img4{
   
    height: 400px;
    
  }

  .carnes{
    height: 200px;
  }

   
  main > div.container_product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

  }

  .cartTab {
    width: 50% !important;
  }
}

@media screen and (min-width: 990px) {
  #banner{
    width: 80%;
  }

  
  #img{
    background-image: url(imagens/Inserir\ um\ pouquinho\ de\ texto\ \(2\).png);
    background-size: 100% 100%;
    height: 400px;
    
  }

  #img2{
   
    height: 400px;
    
  }

  #img3{
    height: 400px;
    background-position: center center;
  }

  #img4{
   
    height: 400px;
    
  }
  main > div.container_product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;

  }
  
}



@media screen and (min-width: 510px) and (max-width: 758px){
 .padaria, .bebidas{
    translate: 20px 0px;
}

.bebidas_container{
  height: 500px;
}

.carnes{
  width: 50%;
}

.hort{
  width: 30%;
  height: 120px;
}

.cartTab {
  width: 62% !important;
}


}

@media screen and (min-width: 346px) and (max-width: 552px){
  

ul.navbar-nav{
  display: grid;
  grid-template-columns: 0px 50px 50px 100px;
  translate: -15px 0px;
}

#satake{
  display: none;
}

.cartTab {
  width: 86% !important;
}
}

@media screen and (min-width: 320px) and (max-width: 500px){
    .header{
      display: grid;
      grid-template-columns: auto auto auto ;
  
    }


    .div-pesquisa{
      order: 6;
      grid-column-start: 1;
      grid-column-end: 4;
      width: auto;
      height: 50px;
    }

    #satake{
      display: inline;
      font: normal bolder 1.5em Arial;
    }
    #logoSatake{
      font-size: 1.2em;
    }

    div#shop {
      top: 12px;
  }

  span#cartItens {
    top: 30%;
    right: 10%;
  }

  .containercard{
    grid-template-columns: auto auto !important;
  }
  
  
}

@media screen and (min-width: 300px) and (max-width: 500px){
  .cartTab {
    width: 94% !important;
  }
}