@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  
}
@media screen and (min-width: 992px) {
  .flex {
    flex-wrap: nowrap;
    align-items: center;
  }
  .flex > span#menu {
    order: 1;
  }
  .flex > div#logo {
    order: 2;
  }
  .flex > div#pesquisa {
    order: 3;
    width: auto;
  }
  .flex > img#contato {
    order: 4;
  }
  .flex > span#cart {
    order: 5;
  }
  div#pesquisa {
    margin: 0px;
  }
}
@media screen and (min-width: 767px) and (max-width: 990px) {
  #img{
    background-image: url(imagens/Inserir\ um\ pouquinho\ de\ texto\ \(2\).png);
    background-size: 100% 100%;
    height: 300px;
  }

  #img2{

    height: 250px;
  }

  #img3{
    height: 300px;
  }
}

@media screen and (min-width: 990px) {
  
  #img{
    background-image: url(imagens/Inserir\ um\ pouquinho\ de\ texto\ \(2\).png);
    background-size: 100% 100%;
    height: 400px;
    
  }

  #img2{
   
    height: 400px;
    
  }

  #img3{
    height: 400px;
    width: 800px;
    background-position: center center;
  }
}