@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


:root{
    --cor1 : #f1f523;
    --cor2 : #f5e023;
    --cor3 : #f8b21a;
    --cor4 : #f8ab03;
    --cor5 : #c108fa;
    --cor6 : #fa3706;
}
header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    flex-wrap: wrap;
    align-items: center;
    background-image: linear-gradient(135deg, rgb(235, 252, 3), rgb(251, 255, 15), rgb(252, 238, 48));
    position: fixed;
    width: 100vw;
    z-index: 3;
    top: 0;
}

.search{
    border: none;
    background-color: white;
    padding-right: 10px;
    padding-left: 5px;
}

.search > img{
    height: 20px;
}

.nav-item:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    color: yellow;
}


ul.navbar-nav{
    justify-content: space-around;
    display: flex;
}
#banner{
    width: 400px;
    margin-left: 0px;
}

#img2{
    width: 100%;
    height: 250px;
    background-image: url(imagens/oferta-junina.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    transition: 0.2s ease-in-out;
}

#img3{
    width: 100%;
    height: 250px;
    background-image: url(imagens/Inserir\ um\ pouquinho\ de\ texto.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    transition: 0.2s ease-in-out;

}

#img4{
    width: 100%;
    height: 250px;
    background-image: url(imagens/hortfruit.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    transition: 0.2s ease-in-out;

}

#img{
    width: 100%;
    height: 250px;
    background-image: url(imagens/Inserir\ um\ pouquinho\ de\ texto\ \(2\).png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
 
}

.secoes{
    height: 40px;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
span#menu:hover {
    cursor: pointer;
}
.logo{
    width: 70px;
    height: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
    background-color: #fa3706;
    background-size: 100% 100%;
    background-image: url(imagens/satake.png);
}


span#cart{
    cursor: pointer;
    padding: 2px;
    position: relative;
}

div#shop {
    position: relative;
    margin-top: 5px;
    right: 20px;
    top: 5px;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v192/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
  }
  
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 34px;
    line-height: 1;
    display: inline-block;
  }
  
span#cartItens {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: lighter;
    font-size: small;
    position: absolute;
    top: 45%;
    right: -1%;
    background-color: rgb(214, 35, 35);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    cursor: pointer;
}

main {
    height: auto;
    position: relative;
    top: 200px;
}
.h1_produtos {
    text-align: center;
    margin: 20px 0px 0px 0px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
}

.p_preco{
    font: normal bolder 1.2em Arial, sans-serif;
}

.produtos{
    background-color: rgba(231, 231, 231, 0.952);
}

main > div.container_product {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;

}

.container-hort{
    height: 400px;
}
.hort{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 120px;
    width: 40%;
}

.w{
    width: 180px;
}

.carnes{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 150px;
    width: 60%;
    
}

.padaria{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 150px;
    width: 60%;
    
}

.bebidas{
    background-size: contain;
    background-repeat: no-repeat;
    height: 210px;
    width: 60%;
}

.borda{
    border: 1px solid #bfbfbf;
}

#pagamento{
    width: 90vw;
    padding: 0px 10px;
    margin: auto;
}

#pagamento h1{
    font-size: 1.09em;
    font-weight: bold;
    color: var(--cor1);
    border-top: 1px solid rgba(0, 0, 0, 0.507);
    border-bottom: 1px solid rgba(0, 0, 0, 0.514);
    padding: 20px;
    margin: 0px;
}

#card{
    display: none;
    background-color: rgba(128, 128, 128, 0.089);
    padding: 20px;

}

.containercard{
   margin-right: 90px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 5px 5px;

}

.containercard p{
    font-weight: bold;

}

.containercard p#credito{
    grid-column: 1 / span 3;
    
}

.containercard p#debito{
    grid-column: 1 / span 3;
    
}

 .cartoes{
    width: 40px;
    height: 30px;
    margin-top: 5px;
}

#pagamento  #flechabaixo{
    display: inline;
    float: right;
    background-color: transparent;
}

#pagamento  #flechacima{
    display: none;
    float: right;
    background-color: transparent;
}

#pagamento  #flechacima, #flechabaixo:hover{

    border-radius: 10px;
    cursor: pointer;
}

footer{
    position: relative;
    top: 200px;
}

footer #endereco{
    padding: 10px;
    font-size: 0.9em;
    text-align: center;
    height: 30px;
}

footer span{
    display: flex;
    margin: auto;
    text-align: center;
    height: 30px;
    width: 80px;
}

#local{
    margin-top: 20px;
    margin-bottom: 20px;
}

#local strong{
    display: block;
}