* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor1 : #148038;
    --cor2 : #1FBF54;
    --cor3 : #29FF70;
    --cor4 : #25E664;
    --cor5 : #0A401C;
}

